<div class="mb-10 mx-2">
  <h1 class="text-xl font-semibold text-center mb-2">Edit Profile</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <text-input
      [control]="fc.bio"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="Bio">
    </text-input>
    <text-input
      [control]="fc.projectGoals"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="Project goals">
    </text-input>
    <text-input
      [control]="fc.websiteUrl"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="Website">
    </text-input>
    <text-input
      [control]="fc.linkedinUrl"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="Linkedin">
    </text-input>
    <text-input
      [control]="fc.githubUrl"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="GitHub">
    </text-input>
    
    <div class="my-2">
      <div class="text-center mb-2"><span>Visibility</span></div>
      <!-- use a switch case in the future to remove uneccessary repetitions of code -->
      <div class="flex items-center gap-x-2" *ngIf="form.controls['visibility'].hasError('bioShort')">
        <svg class="stroke-red h-5" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.0001 39C30 39 39.0001 30 39.0001 20C39.0001 10 30 1 20.0001 1C10.0002 1 1 10 1.00012 20C1.00024 30 10.0002 39 20.0001 39Z"/>
          <path d="M20 28V4.5M20 30.5L20.5 31L20 31.5L19.5 31L20 30.5Z" stroke-linejoin="round"/>
        </svg>Bio is too short</div>
      <div class="flex items-center gap-x-2" *ngIf="form.controls['visibility'].hasError('projectGoalsShort')">
        <svg class="stroke-red h-5" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.0001 39C30 39 39.0001 30 39.0001 20C39.0001 10 30 1 20.0001 1C10.0002 1 1 10 1.00012 20C1.00024 30 10.0002 39 20.0001 39Z"/>
          <path d="M20 28V4.5M20 30.5L20.5 31L20 31.5L19.5 31L20 30.5Z" stroke-linejoin="round"/>
        </svg>Project goals is too short</div>
      <div class="flex items-center gap-x-2" *ngIf="form.controls['visibility'].hasError('linkedinOrGithubNotProvided')">
        <svg class="stroke-red h-5" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.0001 39C30 39 39.0001 30 39.0001 20C39.0001 10 30 1 20.0001 1C10.0002 1 1 10 1.00012 20C1.00024 30 10.0002 39 20.0001 39Z"/>
          <path d="M20 28V4.5M20 30.5L20.5 31L20 31.5L19.5 31L20 30.5Z" stroke-linejoin="round"/>
        </svg>Please provide either a GitHub or LinkgedIn url</div>
      <div class="grid grid-cols-2 place-items-center">
        <label class="relative w-full h-full flex justify-center items-center gap-x-2 cursor-pointer border-t border-l border-b rounded-l-xl py-2 peer-checked:bg-red">
          <input class="peer accent-red" type="radio" formControlName="visibility" [value]="true">
          <!-- <input class="peer accent-red" type="radio" formControlName="visibility" [value]="true"> -->
          True
          <div class="absolute top-0 left-0 h-full w-full peer-checked:bg-light-gray/25 rounded-l-xl"></div>
        </label>
        <label class="relative w-full h-full flex justify-center items-center gap-x-2 cursor-pointer border-t border-r border-b rounded-r-xl py-2">
          <input class="peer accent-red" type="radio" formControlName="visibility" [value]="false">
          False
          <div class="absolute top-0 left-0 h-full w-full peer-checked:bg-light-gray/25 rounded-r-xl"></div>
        </label>
      </div>
    </div>

    <div>
      <div>Please add the tech you know. (HTML, CSS, JavaScript...)</div>
      <ng-container formArrayName="techs">
        <ng-container *ngFor="let tech of techs.controls; let i = index">
          <div class="relative my-2">
            <input class="h-full w-full p-2 pr-7 border border-black outline-none" type="text" [formControlName]="i">
            <button class="w-5 absolute right-1 top-1/2 -translate-y-1/2" type="button" (click)="deleteTech(i)"><img src="../../../../../../assets/x-mark.svg"></button>
          </div>
        </ng-container>
        <button type="button" (click)="addTech()">
          <img class="w-7 my-2" src="../../../../../../assets/plus.svg">
        </button>
      </ng-container>
    </div>
    <default-button text="Update" [isLoading]="isLoading"></default-button>
    <span class="place-self-center" *ngIf="incorrectFields">Please check to make sure all fields are correct!</span>
  </form>

</div>