<div class="mt-10 w-4/5 mx-auto flex flex-col justify-center md:w-1/2 md:mx-auto md:mt-20 lg:w-1/4 lg:min-w-[350px] lg:mt-0 lg:absolute lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:bg-gray-100 lg:shadow-md lg:px-4 lg:py-4 lg:rounded-lg">
  <h1 class="text-center text-xl mt-4 mb-2 font-semibold">Forgot password</h1>
  <p class="text-sm text-center">Enter your email address below, and we'll send you a link to reset your password.</p>
  <form [formGroup]="form" class="py-2" (ngSubmit)="onSubmit()">
    <text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email">
    </text-input>
    <default-button text="Register" [isLoading]="isLoading"></default-button>
    <p class="text-green-500 text-center py-2" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="text-red text-center py-2" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
  <div>
    <p>Click <a class="text-red underline" routerLink="/auth/login">here</a> to go back to login.</p>
  </div>
</div>