<div class="mx-2 gap-y-4 flex flex-col relative">
  <ng-container *ngIf="user">

    <a class="absolute right-0 top-0 text-sm underline" routerLink="/dashboard/profile/edit" *ngIf="isProfileUser">Edit Profile</a>

    <div>
      <h1 class="text-xl font-semibold">{{ user.name }}</h1>
      <p class="text-light-gray">{{ user.bio ? user.bio : 'No bio' }}</p>
    </div>

    <div class="flex items-center gap-2">
      <img class="h-10" src="../../../../../assets/tools.svg">
      <ul *ngIf="user.techs && user.techs.length > 0; else noTech" class="flex gap-2 flex-wrap">
        <li *ngFor="let tech of user.techs">
          {{ tech }}
        </li>
      </ul>
      <ng-template #noTech>
        <span>No tech tools added yet!</span>
      </ng-template>
    </div>

    <div>
      <ul class="flex gap-10 justify-center">
        <li>
          <a [href]="user.githubUrl" target="_blank" [ngClass]="user.githubUrl ? '' : 'pointer-events-none'">
            <img class="w-10" src="../../../../../assets/github-mark.svg">
          </a>
        </li>
        <li>
          <a [href]="user.websiteUrl" target="_blank" [ngClass]="user.websiteUrl ? '' : 'pointer-events-none'">
            <img class="w-10" src="../../../../../assets/globe.svg">
          </a>
        </li>
        <li>
          <a [href]="user.linkedinUrl" target="_blank" [ngClass]="user.linkedinUrl ? '' : 'pointer-events-none'">
            <img class="w-10" src="../../../../../assets/linkedin-mark.svg">
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h2 class="text-xl font-semibold">Projects I'd like to work on</h2>
      <p>{{ user.projectGoals ? user.projectGoals : 'No project goals added yet' }}</p>
    </div>

    <div>
      <h3 class="text-xl font-semibold">Projects</h3>
      <ul class="grid grid-cols-2 gap-10 my-2">
        <li *ngFor="let project of user.projects">
          <app-card [title]="project.title" [text]="project.description" [link]="'/dashboard/projects/project/' + project.id"></app-card>
        </li>
      </ul>
    </div>

    <div *ngIf="!isProfileUser" class="text-center space-y-2">
      <h4>Invite to project</h4>
      <ul class="flex flex-col gap-y-1">
        <li *ngFor="let project of currentUser.projects">
          <button class="border px-2 py-1" type="button">Invite to: {{ project.title }}</button>
        </li>
      </ul>
    </div>

  </ng-container>
</div>