<div class="mx-2 mt-10">
  <ng-container *ngIf="user">
    <div class="relative">
      <h1 class="text-3xl font-semibold">{{ user.name }}</h1>
      <a class="absolute right-0 top-0 text-sm underline" routerLink="/dashboard/profile/edit">Edit Profile</a>
      <p>{{ user.bio }}</p>
    </div>

    <div class="flex items-center gap-2 my-10">
      <img class="h-10" src="../../../../../assets/tools.svg">
      <ul *ngIf="user.techs && user.techs.length > 0; else noTech" class="flex gap-2 flex-wrap">
        <li *ngFor="let tech of user.techs">
          {{ tech }}
        </li>
      </ul>
      <ng-template #noTech>
        <span>No tech tools added yet!</span>
      </ng-template>
    </div>

    <div>
      <ul class="flex gap-10 justify-center">
        <li>
          <a [href]="user.githubUrl" target="_blank" [ngClass]="user.githubUrl ? '' : 'pointer-events-none'">
            <img class="w-10" src="../../../../../assets/github-mark.svg">
          </a>
        </li>
        <li>
          <a [href]="user.websiteUrl" target="_blank" [ngClass]="user.websiteUrl ? '' : 'pointer-events-none'">
            <img class="w-10" src="../../../../../assets/globe.svg">
          </a>
        </li>
        <li>
          <a [href]="user.linkedinUrl" target="_blank" [ngClass]="user.linkedinUrl ? '' : 'pointer-events-none'">
            <img class="w-10" src="../../../../../assets/linkedin-mark.svg">
          </a>
        </li>
      </ul>
    </div>

    <div class="my-10">
      <p>{{ user.projectGoals }}</p>
    </div>

    <div>
      <h2 class="text-xl font-semibold">Projects</h2>
      <ul class="grid grid-cols-2 gap-10 my-4">
        <li *ngFor="let project of user.projects">
          <div class="border border-black">
            <div class="text-center text-xl">{{ project.title }}</div>
            <div class="h-32 w-full bg-gray-200"></div>
            <div class="flex flex-row-reverse">
              <a [routerLink]="'/dashboard/projects/project/' + project.id" class="p-2 rounded-full hover:bg-yellow-300/25"><img class="w-6 h-6" src="../../../../../assets/arrow-right.svg"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button class="border px-2 py-1 my-4" type="button">Invite to project</button>
  </ng-container>
</div>