<div>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email">
    </text-input>
    <text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      type="password"
      label="Password">
    </text-input>
    <default-button text="Login"></default-button>
  </form>
  <span>Don't have an account? Click <a class="underline" routerLink='/auth/register' [queryParams]="{returnUrl}">here</a> to register.</span>
</div>