<div class="mt-4 w-4/5 mx-auto flex flex-col justify-center md:w-1/2 md:mx-auto md:mt-20 lg:w-1/4">
  <img src="../../../../../assets/logos/logo-lg.png" alt="CoCreateHub Logo">
  <h1 class="text-center text-3xl my-4 font-semibold">Login</h1>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email">
      </text-input>
      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password">
      </text-input>
      <default-button text="Login" [isLoading]="isLoading"></default-button>
    </form>
    <p class="text-red text-center py-2" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  <div class="my-4">
    <span>Don't have an account? Click <a class="underline text-red" routerLink='/auth/register' [queryParams]="{returnUrl}">here</a> to register.</span>
  </div>
</div>