<div class="mt-10 w-4/5 mx-auto flex flex-col justify-center md:w-1/2 md:mx-auto md:mt-20 lg:w-1/4 lg:min-w-[350px] lg:mt-0 lg:absolute lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:bg-gray-100 lg:shadow-md lg:px-4 lg:py-8 lg:rounded-lg">
  <div class="absolute top-5 left-5 w-10 h-10 rounded-full shadow-[0_0_5px_rgba(0,0,0,0.5)] animate-float opacity-20 -z-10"></div>
  <div class="absolute top-10 right-5 w-20 h-20 rounded-full shadow-[0_0_5px_rgba(0,0,0,0.5)] animate-float delay-1000 opacity-20 -z-10"></div>
  <div class="absolute top-[50%] left-[20%] w-4 h-4 rounded-full shadow-[0_0_5px_rgba(0,0,0,0.5)] animate-float delay-700 opacity-20 -z-10"></div>
  <div class="absolute bottom-4 left-2 w-4 h-4 rounded-full shadow-[0_0_5px_rgba(0,0,0,0.5)] animate-float delay-500 opacity-20 -z-10"></div>
  <div class="absolute bottom-20 right-8 w-16 h-16 rounded-full shadow-[0_0_5px_rgba(0,0,0,0.5)] animate-float delay-1000 opacity-20 -z-10"></div>
  <div class="flex flex-col items-center">
    <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="14" cy="17.8293" rx="13" ry="13.6341" fill="#F13E3E" fill-opacity="0.5"/><ellipse cx="19" cy="20.9756" rx="19" ry="19.9268" fill="#F13E3E" fill-opacity="0.5"/><ellipse cx="25" cy="23.0732" rx="6" ry="6.29268" fill="#F13E3E"/><ellipse cx="22" cy="39.8537" rx="3" ry="3.14634" fill="#F13E3E"/><ellipse cx="36.5" cy="30.939" rx="1.5" ry="1.57317" fill="#F13E3E"/><ellipse cx="6.5" cy="29.8902" rx="3.5" ry="3.67073" fill="#F13E3E"/><ellipse cx="14.5" cy="4.71951" rx="3.5" ry="3.67073" fill="#F13E3E"/><ellipse cx="40.5" cy="16.2561" rx="2.5" ry="2.62195" fill="#F13E3E"/><ellipse cx="32.5" cy="3.67073" rx="3.5" ry="3.67073" fill="#F13E3E"/>
    </svg>
    <h1 class="font-bold text-3xl">CoCreateHub</h1>
  </div>
  <h2 class="text-center text-xl mt-4 mb-2 font-semibold">Register</h2>
  <div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Name">
      </text-input>
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email">
      </text-input>
      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password">
      </text-input>
      <text-input
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Confirm Password">
      </text-input>
      <default-button text="Register" [isLoading]="isLoading"></default-button>
    </form>
    <p class="text-red text-center py-2" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  <div class="my-4">
    <span>Already have an account? Click <a class="underline text-red" routerLink='/auth/login' [queryParams]="{returnUrl}">here</a> to login.</span>
  </div>
</div>