<div>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <text-input
      [control]="fc.name"
      [showErrorsWhen]="isSubmitted"
      type="text"
      label="Name">
    </text-input>
    <text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email">
    </text-input>
    <text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      type="password"
      label="Password">
    </text-input>
    <text-input
      [control]="fc.confirmPassword"
      [showErrorsWhen]="isSubmitted"
      type="password"
      label="Confirm Password">
    </text-input>
    <default-button text="Register"></default-button>
  </form>
  <span>Already have an account? Click <a class="underline" routerLink='/auth/login' [queryParams]="{returnUrl}">here</a> to login.</span>
</div>