<div class="flex flex-col gap-y-4">
  <h1 class="text-xl font-semibold text-center">Edit projectName</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <text-input
      [control]="fc.title"
      [showErrorsWhen]="isSubmitted"
      [label]="'Title'"
    ></text-input>
    <text-input
      [control]="fc.description"
      [showErrorsWhen]="isSubmitted"
      [label]="'Description'"
    ></text-input>
    <text-input
      [control]="fc.githubUrl"
      [showErrorsWhen]="isSubmitted"
      [label]="'GitHub'"
    ></text-input>
    <text-input
      [control]="fc.liveUrl"
      [showErrorsWhen]="isSubmitted"
      [label]="'Website'"
    ></text-input>
    <div class="flex">
      <span>Visibility:</span>
      <div>
        <label>
          <input type="radio" formControlName="visibility" [value]="true"> True
        </label>
        <label>
          <input type="radio" formControlName="visibility" [value]="false"> False
        </label>
      </div>
    </div>
    <div>
      <div>Tech stacks and tools</div>
      <ng-container formArrayName="techs">
        <ng-container *ngFor="let tech of techs.controls; let i = index">
          <div class="relative my-2">
            <input class="h-full w-full p-2 pr-7 border border-black outline-none" type="text" [formControlName]="i">
            <button class="w-5 absolute right-1 top-1/2 -translate-y-1/2" type="button" (click)="deleteTech(i)"><img src="../../../../../../assets/x-mark.svg"></button>
          </div>
        </ng-container>
        <button type="button" (click)="addTech()">
          <img class="w-7 my-2" src="../../../../../../assets/plus.svg">
        </button>
      </ng-container>
    </div>

    <default-button [text]="'Update'"></default-button>
  </form>

  <default-button [text]="'Delete Project'" [type]="'button'" (onClick)="deleteProject()"></default-button>
</div>