<div class="mx-2 relative">
  <ng-container *ngIf="project && user; else noProject">
      <a *ngIf="isCreator" class="absolute right-0 top-0 text-sm underline" routerLink="edit">Edit Project</a>
    <div class="text-center">
      <h1 class="text-3xl font-semibold">{{ project.title }}</h1>
      <p>{{ project.description }}</p>
    </div>

    <div class="text-center my-5">
      <ul>
        <li>Techs not yet added to project - SOON</li>
      </ul>
    </div>

    <div class="my-5">
      <ul class="flex gap-10 justify-center">
        <li>
          <a [href]="project.githubUrl" target="_blank">
            <img class="w-10" src="../../../../../assets/github-mark.svg">
          </a>
        </li>
        <li>
          <a [href]="project.liveUrl" target="_blank">
            <img class="w-10" src="../../../../../assets/globe.svg">
          </a>
        </li>
      </ul>
    </div>

    <div class="my-5">
      <button class="block mx-auto" type="button" (click)="showProjectMembers = !showProjectMembers">
        <div class="flex flex-col items-center text-sm">
          <svg class="w-6 h-6" [ngClass]="showProjectMembers ? 'stroke-red' : null" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
          <span [ngClass]="showProjectMembers ? 'text-red' : null">Members</span>
        </div>
      </button>
      <div class="max-h-[50dvh] w-full rounded-md p-2 overflow-y-scroll shadow shadow-light-gray" *ngIf="showProjectMembers">
        <ul>
          <li *ngFor="let member of project.members">
            <div class="flex justify-between items-center text-xl">
              <span>{{ member.name }}</span>
              <span class="text-light-gray">Role</span>
              <a [routerLink]="'/dashboard/profile/' + member.id">
                <svg class="w-10 h-10 fill-transparent active:fill-red active:stroke-white" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>
              </a>  
            </div>
          </li>
        </ul>
      </div>
    </div>

  </ng-container>
  <ng-template #noProject>
    <h1>Sorry we couldn't find your project!</h1>
  </ng-template>
</div>